.about-icon {
    
    color:#3d4460;
}

.about-icon:hover {
    
    color:#0d6efd;
}

.about-container {
    margin-top: 65px;
    background:rgb(237 239 243 / 68%);
    border-radius: 35px;
    padding: 65px 35px 35px 35px;
}


@media screen and (max-width:510px) {

    .about-container{
        padding:65px 15px 35px 15px;
    }
    
}